# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Local databases
*.db
*.sqlite
*.sqlite3

# Environment variables / secrets
.env

# Local ML model
*.joblib

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
data/authorship_detection_kazakh_text.csv
